

<div class="cell" ng-hide="CreateSuccess">
	<div class="hd">
		<h1 class="page_title">制作计划书</h1>
	</div>
	<div class="bd" ng-hide="SelectedProduct">


		<div class="weui_cells_title">选择产品</div>

		<div class="weui_cells weui_cells_radio">
			<label class="weui_cell weui_check_label" for="Item_{{Item.ID}}" ng-repeat="Item in Products">
				<div class="weui_cell_bd weui_cell_primary">
					<p>{{Item.Name}}</p>
				</div>
				<div class="weui_cell_ft">
					<input type="radio" class="weui_check" name="radio1" id="Item_{{Item.ID}}" value="{{Item.ID}}" ng-model="CreatePlan.ProductType">
					<span class="weui_icon_checked"></span>
				</div>
			</label>


		</div>
		<div class="weui_btn_area">
			<button class="weui_btn weui_btn_primary" ng-click="NextStep()" id="btnNextStep">下一步</button>
		</div>
	</div>
	<div class="bd" ng-show="SelectedProduct">
		
		<div class="weui_cells_title">投保信息</div>
		<div class="weui_cells weui_cells_form" ng-show="SelectedProduct">
            <div class="weui_cell" ng-show="CreatePlan.ShowAge">
                <div class="weui_cell_hd">
                    <label class="weui_label">年龄</label>
                </div>
                <div class="weui_cell_bd weui_cell_primary">
                    <input class="weui_input" type="number" pattern="[0-9]*" ng-model="CreatePlan.Age" placeholder="请输入投保人年龄">
                </div>
            </div>
            <div class="weui_cell weui_cell_select weui_select_after" ng-show="CreatePlan.ShowGender">
                <div class="weui_cell_hd">
                    <label for="" class="weui_label">性别</label>
                </div>
                <div class="weui_cell_bd weui_cell_primary">
                    <select class="weui_select" name="select2" ng-model="CreatePlan.Gender">
                        <option value="0">请选择</option>
                        <option value="1">男</option>
                        <option value="2">女</option>
                    </select>
                </div>
            </div>
            <div class="weui_cell weui_cell_select weui_select_after" ng-show="CreatePlan.ShowSumAssured">
                <div class="weui_cell_hd">
                    <label for="" class="weui_label">总保费</label>
                </div>
                <div class="weui_cell_bd weui_cell_primary">
                    <select class="weui_select" name="select2" ng-model="CreatePlan.SumAssured">
                        <option ng-repeat="x in CreatePlan.SumAssuredArray" value="{{x.Value}}">{{x.Text}}</option>                     
                    </select>
                </div>
            </div>
            <div class="weui_cell weui_cell_select weui_select_after" ng-show="CreatePlan.ShowPaymentTerms">
                <div class="weui_cell_hd">
                    <label for="" class="weui_label">支付方式</label>
                </div>
                <div class="weui_cell_bd weui_cell_primary">
                    <select class="weui_select" name="select2" ng-model="CreatePlan.PaymentTerms">
                        <option ng-repeat="x in CreatePlan.PaymentTermsArray" value="{{x.Value}}">{{x.Text}}</option>
                    </select>
                </div>
            </div>
			<div class="weui_cell" ng-show="CreatePlan.ShowSmokingStatus">
				<div class="weui_cell_hd">
					<label for="" class="weui_label">是否抽烟</label>
				</div>
				<div class="weui_cell_bd weui_cell_primary">
                    <div class="weui_cell_hd">
                        <input class="weui_switch" type="checkbox" ng-model="CreatePlan.SmokingStatus">
                    </div>
				</div>
				
			</div>
            <div class="weui_cell weui_cell_select weui_select_after" ng-show="CreatePlan.ShowCurrency">
                <div class="weui_cell_hd">
                    <label for="" class="weui_label">支付方式</label>
                </div>
                <div class="weui_cell_bd weui_cell_primary">
                    <select class="weui_select" name="select2" ng-model="CreatePlan.Currency">
                        <option ng-repeat="x in CreatePlan.CurrencyArray" value="{{x.Value}}">{{x.Text}}</option>
                    </select>
                </div>
            </div>   
		</div>	
		
		<div class="weui_opr_area">
			<p class="weui_btn_area">
				<a href="javascript:;" ng-click="Create()" class="weui_btn weui_btn_primary">确定</a>
				<a href="javascript:;" ng-click="Reset()" class="weui_btn weui_btn_default">取消</a>
			</p>
		</div>
	</div>
</div>

<div class="msg" ng-show="CreateSuccess" >
	<div class="weui_msg">
		<div class="weui_icon_area"><i class="weui_icon_success weui_icon_msg"></i></div>
		<div class="weui_text_area">
			<h2 class="weui_msg_title">操作成功</h2>
			<p class="weui_msg_desc">内容详情，可根据实际需要安排</p>
		</div>
		<div class="weui_opr_area">
			<p class="weui_btn_area">
				<a href="./" class="weui_btn weui_btn_primary">确定</a>
				<a href="javascript:history.go(-1);" class="weui_btn weui_btn_default">取消</a>
			</p>
		</div>
		<div class="weui_extra_area">
			<a href="">查看详情</a>
		</div>
	</div>
</div>
