
@{
	ViewBag.Title = "我的计划书";

	Layout = "~/Views/Shared/_MobileLayout.cshtml";
}

@section scriptsContainer{
	<script type="text/html" id="tpl_planIndex">
		<div class="bd">
		
			<div class="weui_cells_title">我的计划书</div>
			<div class="weui_cells weui_cells_access">

				<a class="weui_cell" href="#/detail/1">
					<div class="weui_cell_hd"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC4AAAAuCAMAAABgZ9sFAAAAVFBMVEXx8fHMzMzr6+vn5+fv7+/t7e3d3d2+vr7W1tbHx8eysrKdnZ3p6enk5OTR0dG7u7u3t7ejo6PY2Njh4eHf39/T09PExMSvr6+goKCqqqqnp6e4uLgcLY/OAAAAnklEQVRIx+3RSRLDIAxE0QYhAbGZPNu5/z0zrXHiqiz5W72FqhqtVuuXAl3iOV7iPV/iSsAqZa9BS7YOmMXnNNX4TWGxRMn3R6SxRNgy0bzXOW8EBO8SAClsPdB3psqlvG+Lw7ONXg/pTld52BjgSSkA3PV2OOemjIDcZQWgVvONw60q7sIpR38EnHPSMDQ4MjDjLPozhAkGrVbr/z0ANjAF4AcbXmYAAAAASUVORK5CYII=" alt="" style="width:20px;margin-right:5px;display:block"></div>
					<div class="weui_cell_bd weui_cell_primary">
						<p>cell standard</p>
					</div>
					<div class="weui_cell_ft">说明文字</div>
				</a>
				<a class="weui_cell" href="#/detail/2">
					<div class="weui_cell_hd"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC4AAAAuCAMAAABgZ9sFAAAAVFBMVEXx8fHMzMzr6+vn5+fv7+/t7e3d3d2+vr7W1tbHx8eysrKdnZ3p6enk5OTR0dG7u7u3t7ejo6PY2Njh4eHf39/T09PExMSvr6+goKCqqqqnp6e4uLgcLY/OAAAAnklEQVRIx+3RSRLDIAxE0QYhAbGZPNu5/z0zrXHiqiz5W72FqhqtVuuXAl3iOV7iPV/iSsAqZa9BS7YOmMXnNNX4TWGxRMn3R6SxRNgy0bzXOW8EBO8SAClsPdB3psqlvG+Lw7ONXg/pTld52BjgSSkA3PV2OOemjIDcZQWgVvONw60q7sIpR38EnHPSMDQ4MjDjLPozhAkGrVbr/z0ANjAF4AcbXmYAAAAASUVORK5CYII=" alt="" style="width:20px;margin-right:5px;display:block"></div>
					<div class="weui_cell_bd weui_cell_primary">
						<p>cell standard</p>
					</div>
					<div class="weui_cell_ft">说明文字</div>
				</a>
			</div>
		</div>
	</script>
	<script type="text/html" id="tpl_planDetail">
		<div class="hd">
			<h1 class="page_title">Button</h1>
		</div>
		<div class="weui_cells_title">表单</div>
		<div class="weui_cells weui_cells_form">
			<div class="weui_cell">
				<div class="weui_cell_hd"><label class="weui_label">qq</label>
				</div>
				<div class="weui_cell_bd weui_cell_primary">
					<input class="weui_input" type="number" pattern="[0-9]*" placeholder="请输入qq号">
				</div>
			</div>
			<div class="weui_cell weui_vcode">
				<div class="weui_cell_hd"><label class="weui_label">验证码</label>
				</div>
				<div class="weui_cell_bd weui_cell_primary">
					<input class="weui_input" type="number" placeholder="请输入验证码">
				</div>
				<div class="weui_cell_ft">
					<img src="/Content/images/vcode.jpg">
				</div>
			</div>
			<div class="weui_cell">
				<div class="weui_cell_hd"><label class="weui_label">银行卡</label>
				</div>
				<div class="weui_cell_bd weui_cell_primary">
					<input class="weui_input" type="number" pattern="[0-9]*" placeholder="请输入银行卡号">
				</div>
			</div>
			<div class="weui_cell weui_vcode weui_cell_warn">
				<div class="weui_cell_hd"><label class="weui_label">验证码</label>
				</div>
				<div class="weui_cell_bd weui_cell_primary">
					<input class="weui_input" type="number" placeholder="请输入验证码">
				</div>
				<div class="weui_cell_ft">
					<i class="weui_icon_warn"></i>
					<img src="/Content/images/vcode.jpg">
				</div>
			</div>
		</div>
	</script>

<script type="text/html" id="tpl_planCreate">
	<div class="bd">

		<div class="weui_cells_title">制作计划书</div>
		<div class="weui_cells weui_cells_radio">
			<label class="weui_cell weui_check_label" for="x11">
				<div class="weui_cell_bd weui_cell_primary">
					<p>cell standard</p>
				</div>
				<div class="weui_cell_ft">
					<input type="radio" class="weui_check" name="radio1" id="x11">
					<span class="weui_icon_checked"></span>
				</div>
			</label>
			<label class="weui_cell weui_check_label" for="x12">

				<div class="weui_cell_bd weui_cell_primary">
					<p>cell standard</p>
				</div>
				<div class="weui_cell_ft">
					<input type="radio" name="radio1" class="weui_check" id="x12" checked="checked">
					<span class="weui_icon_checked"></span>
				</div>
			</label>
		</div>
		
		<div class="bd">
			<a href="javascript:;" class="weui_btn weui_btn_primary">下一步</a>

		</div>
	</div>
</script>

}
@section scripts{
	@Scripts.Render("~/bundles/planjs")
}
